.mobile-navigation {
  @include responsive('display', (xs: block, lg: none));
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &__checkbox {
    display: none;
  }

  &__button {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    position: fixed;
    top: 20px;
    left: 2rem;
    z-index: 99999;
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    position: fixed;
    top: 12px;
    left: 2rem;
    border-radius: 100%;
    z-index: 2000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2000;

    opacity: 0;
    width: 100%;
    transition: opacity 0.8s ease-in-out,
      left 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 2rem;
  }

  &__list {
    margin-top: 70px;
    list-style: none;
    text-align: center;
    width: 100%;
    @include space-y(2rem);

    li {
      @include flex-center;
    }
  }

  &__link {
    color: var(--text-secondary);
    text-decoration-line: none;

    &:hover,
    &:active {
      color: var(--accent);
    }

    &.active {
      font-weight: 800;
      color: var(--accent);
      position: relative;
    }

    &.active::before {
      content: '';
      position: absolute;
      top: -10px;
      left: -24px;
      width: 80px;
      height: 45px;
      background-image: url("images/nav-active-light.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  // Functionality
  &__checkbox:checked ~ &__background {
    background-color: var(--background);
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    left: 0;
  }

  // Icons
  &__menu {
    color: var(--menu);
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__close {
    display: none;
  }

  &__checkbox:checked ~ &__button .menu {
    display: none;
  }

  &__checkbox:checked ~ &__button .close {
    display: block;
    color: var(--menu);
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
}
